body {
    margin: 0;
}

nav {
    background-color: #000000;
    left: 1060px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.navbar-brand {
    display: flex;
}

#nav-logo {
    margin: auto;
}

.navbar-menu {
    list-style: none;
    display: flex;
}

    .navbar-menu > li {
        margin-left: 2em;
    }


.navbar-item {
    color: #f9f9f9;
    text-decoration: none;
}

nav.is-fixed-top.scrolled {
    background-color: #000000;
    transition: background-color 200ms linear;
}

    nav.is-fixed-top.scrolled .navbar-item {
        color: #f9f9f9;
    }

main {
    padding-top: 250px;
}

footer {
    text-align: center;
}