.header {
    height: 450px;
    width: 100%;
    position: relative;
}

.header_texture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    background: url(https://images.unsplash.com/photo-1499343245400-cddc78a01317?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8cGhvdG9ncmFwaGVyfGVufDB8MHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60) center no-repeat;
    background-size: cover;
    z-index: 1;
}

.header_mask {
    position: absolute;
    bottom: 0;
    background: 0 0;
    height: 42px;
    width: 100%;
    z-index: 10;
}

.header_navbar {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_navbar-logo-title {
    color : #fff;
    font-size: 40px;
    font-family: 'Anton';
    font-style: italic;
}

.header_navbar-menu-link {
    margin-left: 40px;
    color: #fff;
    text-decoration: none;
}

.header_navbar-menu-link:hover {
    color: #bbc2c2;
}

.header_slogan {
    text-align: center;
    margin-top: 60px;
}

.header_slogan-title {
    color: #fff;
    font-size: 60px;
    font-family: 'Anton';
    font-style: italic;
}

.header_slogan-button {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 15px 20px;
    background: #f39c12;
    border-radius: 4px;
}

.header_navbar-toggle {
    width: 40px;
    height: 60px;
    align-items: center;
    display: none;
    cursor: pointer;
}

.header_navbar-toggle-icons, .header_navbar-toggle-icons:before, .header_navbar-toggle-icons:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
}

.header_navbar-toggle-icons:before {top:10px;}
.header_navbar-toggle-icons:after {top:-14px;}

.is-open .header_navbar-menu {
    transform: translateY(0);
}

@media only screen and (max-width: 600px ) {

    .header_navbar-toggle {
        display: flex;
        z-index: 1000;
    }
    .header_navbar-menu {
        transition: all 1s ease-in-out;
        transform: translateY(-100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgb(0, 0, 0, 0.9), rgb(0, 0, 0, 0.5));
        top: 0; left: 0;
    }
    .header_navbar-menu-link {
        margin: 20px 0;
        font-size: 24px;    
    }
    .header_slogan-title {
        font-size: 30px;
    }
    .bulle li  {
      width: 35px;
      height: 35px;
    }
}

.medias {
    z-index: 9999;
    list-style-type: none;
    position: fixed;
    left: 2.3%;
    top: 13%;
    transform: translateX(-150%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bulle li  {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background: #f1f1f1;
    cursor: pointer;
    position: relative;
}

.bulle .nav-youtube {
    color: red;
}

.bulle .nav-instagram {
    color: #4C5FD7;
}

.bulle .nav-facebook {
    color: #0800ad;
}

.bulle .nav-twitter {
    color: #00dbff;
}

.bulle .bulle1:hover {
    margin-left: 8px;
}

.bulle .bulle2:hover {
    margin-left: 8px;
}

.bulle .bulle3:hover {
    margin-left: 8px;
}

.bulle .bulle4:hover {
    margin-left: 8px;
}

.logo-medias {
    width: 40px;
    height: 40px;
}

.fondu-medias {
    transform: translateX(150%);
    transition: 1.5s;
}

@media only screen and (max-width: 900px ) {
    .bulle li  {
      width: 55px;
      height: 55px;
    }
    .fondu-medias {
        transform: translateX(170%);
        transition: 1.5s;
    }
}
