.slide {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;

}

.slide-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 400px;
}

#slides {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    max-height: 100%;   /*CSS3 keyframes animation*/
    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    }
  
#slides:hover {
    animation-play-state: paused; /* Mise en pause de l'animation */
}

#slides figure {
    display: inline-block;
    width: 100vw;
    max-height: 100%;
    margin: 0;
}
 
#slides figure img {
    width: 100%;    /*Centrer l'image verticalement si celle-ci ne peut être affichée totalement*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#slides figure figcaption {
    position: absolute;
    bottom: 0;
    padding: 2.5em 0;
    text-align: center;
    width: inherit;
    background-color: rgba(0,0,0,0.3);
    color: white;
}

#play {
    position: absolute;
    cursor: pointer;
    bottom: 2em;
    right: 2em;
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-left: 1em solid rgba(255,255,255,0.7);
    display: none;
    text-indent: -9999px;
}

@keyframes slide {
    0%, 20%, 100% {
        left: 0; /*1ère image*/
    }
    35%, 50% {
        left: -100vw; /*2ème image*/
    }

    70%, 95% {
        left: -200vw; /*3ème image*/
    }
}

@media only screen and (max-width: 600px ) {
    .slide {
    padding-top: 15px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    }
    #slides figure figcaption {
        text-align: left;
        padding-left: 10px;
    }
}
